.sidebarChat {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.sidebarChat:hover {
  background-color: #538ace;
  color: #fff;
}

.sidebarChat__info {
  margin-left: 15px;
  position: relative;
  width: 100%;
}

.sidebarChat__info>small {
  position: absolute;
  font-size: 11px;
  top: 4px;
  right: 0;
}

.sidebarChat__info>h4 {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarChat__info>p {
  white-space: nowrap;
  width: 150px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}